* {

    margin: 0%;

    padding: 0%;

    box-sizing: border-box;

}



body {

    font-family: Arial, Helvetica, sans-serif;

    font-size: small;

    line-height: 1.6;

    background-color: lightgray;

    color: black;

}



a {

    color: green;

    text-decoration: none;

}



a:hover {

    text-decoration: underline;



}



h1 {

    font-size: 2rem;

    margin-bottom: 0.75 rem;

    color: green;

    text-align: center;

    margin: auto;

}



h2 {

    font-size: 2rem;

    margin-bottom: 0.75rem;

    color: forestgreen;



}



h3 {

    font-size: 1.5rem;

    margin-bottom: 0.5rem;

}



p {

    margin-bottom: 1rem;

}



nav a {

    color: white;

    font-weight: bold;

}



nav a:hover {

    color: yellow;

}



main {

    display: grid;

    grid-template-columns: 1fr 1fr ;

    gap: 2rem;

    padding: 2rem;

}



header,section {

    grid-column: span;

    background:gray ;

    padding: 1.5rem;

    margin-bottom: 1.5rem;

    border-radius: 8px;

    box-shadow: 0 2px 5px gray;

}



button {

    background: forestgreen ;

    color: white;

    border:none ;

    padding: 0.6rem 1.2rem;

    border-radius: 6px;

    cursor: pointer;

    transition: background 0.3 ease;

}



button:hover {

    background: darkgreen;



}

button:focus {

    outline: 2px solid yellow;

}

button:active {

    background: green;

}

img {

    max-width: 100%;

    height: auto;

    border-radius: 6px;

    margin-bottom: 1rem;

}



footer {

    text-align: center;

    background: black;

    color: white;

    padding: 1rem;

    margin-top: 2rem;

}



@media (max-width:1024px) {

    main{

        grid-template-columns: 1fr 1fr;

}

h1 {font-size: 2rem;}

h2 {font-size: 1.175rem;}

p  {font-size: 0.95rem;}



nav {

    gap: 1rem;

    font-size: 0.95rem;

}

}



@media (max-width: 768px){

    main{

        grid-template-columns: 1fr

    }



    h1 {font-size: 1.5rem;}

    h2 {font-size: 1.25rem;}

    p {font-size: 0.9rem;}



    nav {

        flex-direction: column;

        align-items: center;

        gap:0.5rem;

    }

}